<%- include('../includes/head.ejs') %>

<!--==================== CLUB ====================-->
<!--==================== MAIN ====================-->
<main class="hero">
<%- include('../includes/nav.ejs') %>
<section class="club" id="club">
    <div class="club__container container">
        <div class="club__data">
            <h1 class="club__title">Digital Solutions,<br> A Brand To Step Up Your Brand.</h1>
            <p class="club__content">we use modern technologies to bring ideas to life.</p>
        </div>
    </div>
</section>
</main>
<!--==================== END OF MAIN ====================-->
<section class="club__gallery">
    <div class="section__header portfolio__header">
        <h3 class="sub__title" data-title="Welcome to our Club"></h3>
    </div>
    <div class="gallery container">
        <% for (let club of myClub) { %>
        <a href="/<%=club.image%>" class="big"><img src="/<%=club.image%>" alt=""/></a>
        <% } %>
    </div>
  </section>
<!--==================== END OF CLUB ====================-->
 
 

<%- include('../includes/footer.ejs') %>