<%- include('../includes/head.ejs') %>
<%- include('../includes/nav.ejs') %>

<!--==================== UPLOAD SECTION ====================-->
<section class="portfolio__detail section container"> 
    <div class="detail__container grid">
        <div class="left">
            <div class="main__image">
                <img src="/<%= blog.image %>" alt="<%= blog.title %>">
            </div>
        </div>
        <div class="right">
            <div class="main__info">
                <div class="client__content">
                    <h2 class="portfolio__year">Date:</h2> 
                    <h3 class="year__desc"><%= blog.year %></h3>
                </div>
                <hr>
            </div>
            <div class="portfolio__desc">
                <h2 class="portfolio__title_"><%= blog.title %></h2>
                <h2 class="portfolio__title__desc">Content:</h2>
                <p><%= blog.content %></p>
            </div>
            <a href="<%= blog.link %>" class="button">Read More</a>
        </div>
    </div>
</section>
<!--==================== END OF UPLOAD SECTION ====================-->
<%- include('../includes/footer.ejs') %>